{% extends "users/layout.html" %}

{% block body %} 

    <h1>Welcome, {{ request.user }}</h1>

    <div>
        <h4>Your Fellow Passengers:</h4>
        {% for passenger in passenger_list %}
            <li>{{ passenger }}</li>
        {% empty %}
            <p>No other passengers.</p>
        {% endfor %}
        
    </div>
    <div>
        <a href="{% url 'flight_index' %}">See Flights</a>
        <a href="{% url 'passengers' %}">Add Passengers</a>
    </div>
    <div>
      
    </div>

    <a href="{% url 'logout' %}">Logout</a>

{% endblock %}