{% extends "users/layout.html" %}

{% block body %}
    <div class="welcome-container">
        <h1 class="welcome-title">Welcome, {{ request.user }}</h1>

        <a class="button" href="{% url 'flight_index' %}">See Flights</a>
        
        <div class="passenger-container">
            <h4 class="passenger-title">Your Fellow Passengers:</h4>
            <ul class="passenger-list">
                <div class="passenger-row">
                    {% for passenger in passenger_list %}
                        <li class="passenger-item">{{ passenger }}</li>
                        {% if forloop.counter|divisibleby:4 %} {# Change '4' to the desired number of passengers per row #}
                            </div><div class="passenger-row">
                        {% endif %}
                    {% empty %}
                        <p>No other passengers.</p>
                    {% endfor %}
                </div>
            </ul>
        </div>

        <div class="links-container">
            <form method="POST" action="">
                {% csrf_token %}
                {{ passenger_form.as_p }}
                <button type="submit" name="add_passenger" class="add-passenger-button">Add Passengers</button>
            </form>
        </div>
    </div>

    <div class="logout-container">
        <a class="logout-link" href="{% url 'logout' %}">Logout</a>
    </div>
{% endblock %}
