{% extends "flights/layout.html" %} 

{% block body %} 

    {% if request.user.is_authenticated %}
    <a href="{% url 'user_index' %}">My Account</a>
    {% else %}
    <a href="{% url 'register' %}">My Account</a>
    {% endif %}
    <a href="{% url 'passengers' %}">Add Passengers</a>
    <h1>Flights</h1> 
    <ul> {% for flight in flights %} 
        <a href="{% url 'flight' flight.id %}">
        <li> Flight {{ flight.id }}: {{ flight.origin }} to {{ flight.destination }}</li> 
        </a>  
        {% endfor %} 
    </ul> 

    <h1>Add Airport</h1>
    <form method="post">
        {% csrf_token %}
        {{ airport_form.as_p }}
        <button type="submit" name="add_airport">Add Airport</button>
    </form>

    <h1>Add Flight</h1>
    <form method="post">
        {% csrf_token %}
        {{ flight_form.as_p }}
        <button type="submit" name="add_flight">Add Flight</button>
    </form>
 

  

{% endblock %}